.headclass{
text-align: center;
}

#date{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color:aliceblue;
}

#habit{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color:aliceblue;
}

#trackButton {
  background-color: #4CAF50;
  color: white; 
  padding: 10px 15px; 
  font-size: 16px;
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
}

#trackButton:hover {
  background-color: #45a049;
}
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    background-image: url('/Projects/images/habit-tracker-styles.jpg');
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #ddd;
  padding: 12px;
  text-align: right;
}

th {
  background-color: #6ca16a;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f0f0f0;
}

.clearButton {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  
}

.clearButton:hover {
  background-color: #c0392b;
}

#time{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  border-color: #acb1ac;
  background-color:aliceblue;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}


.notification {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  background-color: #4CAF50;
  color: #fff;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notification p {
  margin: 0;
}

.notification .close {
  color: #fff;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.notification .close:hover {
  color: #333;
}
